
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - My Vooqq</title>
    <link rel="stylesheet" type="text/css" href="~/Assets/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/assets/fonts/line-icons.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/assets/css/slicknav.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/assets/css/color-switcher.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/assets/css/nivo-lightbox.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/assets/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/assets/css/responsive.css">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <style>
    </style>
</head>
<body>
    <header id="header-wrap">
        <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="lni-menu"></span>
                        <span class="lni-menu"></span>
                        <span class="lni-menu"></span>
                    </button>
                    <a href="/Home/" class="navbar-brand"><img src="~/Assets/assets\img\logo.png" alt=""></a>
                </div>
                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown active">
                            <a class="nav-link" href="/Home/Index">
                                Home
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Categories">
                                Categories
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Listings
                            </a>

                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Blog
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">
                                Contact
                            </a>
                        </li>
                    </ul>

                    @Html.Partial("_LoginPartial")

                </div>
            </div>
            <ul class="mobile-menu">
                <li>
                    <a class="active" href="#">
                        Home
                    </a>
                    <ul class="dropdown"></ul>
                </li>
                <li>
                    <a href="category.html">Categories</a>
                </li>
                <li>
                    <a href="#">
                        Listings
                    </a>

                </li>

                <li>
                    <a href="#">Blog</a>
                    <ul class="dropdown"></ul>
                </li>
                <li>
                    <a href="contact.html">Contact Us</a>
                </li>
                <li>
                    <a>My Account</a>
                    <ul class="dropdown">
                        <li>
                            <a href="account-profile-setting.html"><i class="lni-home"></i> Account Home</a>
                        </li>
                        <li>
                            <a href="account-myads.html"><i class="lni-wallet"></i> My Ads</a>
                        </li>

                    </ul>
                </li>
            </ul>
        </nav>


    </header>
    @RenderBody()

    @*//////////////////////////////////////////////////////////////////////////*@

    <footer>
        <section class="footer-Content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                        <div class="widget">
                            <h3 class="footer-logo">
                                <img src="~/Assets/assets\img\logo.png" alt="">
                            </h3>
                            <div class="textwidget">
                                <p>
                                    VOOQQ is an Indian made Free online classified advertisement website. VOOQQ offers free ad listing service for everyone. This is the largest classified website in Kerala, and Fastest growing classified website in India. Currently vooqq available in 144284 locations in India.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                        <div class="widget">
                            <h3 class="block-title">Help & Support</h3>
                            <ul class="menu">
                                <li>
                                    <a href="#">Live Chat</a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#">Purchase Protection</a>
                                </li>
                                <li>
                                    <a href="#">Support</a>
                                </li>
                                <li>
                                    <a href="#">Contact us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                        <div class="widget">
                            <h3 class="block-title">Subscribe us</h3>
                            <p class="text-sub">VOOQQ offers many categories like For sale classifieds  Matrimony profile listing, Business Listing, Service Professionals  etc.</p>
                            <form method="post" id="subscribe-form" name="subscribe-form" class="validate">
                                <div class="form-group is-empty">
                                    <input type="email" value="" name="Email" class="form-control" id="EMAIL" placeholder="Email address" required="">
                                    <button type="submit" name="subscribe" id="subscribes" class="btn btn-common sub-btn"><i class="lni-check-box"></i></button>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                            <ul class="footer-social">
                                <li>
                                    <a class="facebook" href="https://www.facebook.com/ThiruvananthapuramRealestate/"><i class="lni-facebook-filled"></i></a>
                                </li>
                                <li>
                                    <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                                </li>
                                <li>
                                    <a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a>
                                </li>
                                <li>
                                    <a class="google-plus" href="#"><i class="lni-google-plus"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="site-info float-left">
                            <p>

                                All copyrights reserved &copy; Vooqq © 2019 - Designed by
                                <a href="https://vooqq.com" rel="Vooqq">Vooqq</a>
                            </p>
                        </div>
                        <div class="float-right">
                            <ul class="bottom-card">
                                <li>
                                    <a href="#"><img src="~/Assets/assets\img\footer\card1.jpg" alt="card"></a>
                                </li>
                                <li>
                                    <a href="#"><img src="~/Assets/assets\img\footer\card2.jpg" alt="card"></a>
                                </li>
                                <li>
                                    <a href="#"><img src="~/Assets/assets\img\footer\card3.jpg" alt="card"></a>
                                </li>
                                <li>
                                    <a href="#"><img src="~/Assets/assets\img\footer\card4.jpg" alt="card"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <a href="#" class="back-to-top">
        <i class="lni-chevron-up"></i>
    </a>
    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>

    <div id="uploadpopup" class="alert" style="display: none;">
        <strong id="alert_message" style="font-size: 17px;"></strong>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success">0%</div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="~/Assets/assets/js/jquery-min.js"></script>
    <script src="~/Assets/assets/js/popper.min.js"></script>
    <script src="~/Assets/assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/assets/js/jquery.counterup.min.js"></script>
    <script src="~/Assets/assets/js/waypoints.min.js"></script>
    <script src="~/Assets/assets/js/wow.js"></script>
    <script src="~/Assets/assets/js/owl.carousel.min.js"></script>
    <script src="~/Assets/assets/js/nivo-lightbox.js"></script>
    <script src="~/Assets/assets/js/jquery.slicknav.js"></script>
    <script src="~/Assets/assets/js/main.js"></script>
    <script src="~/Assets/assets/js/form-validator.min.js"></script>
    <script src="~/Assets/assets/js/contact-form-script.min.js"></script>
    <script src="~/Assets/assets/js/summernote.js"></script>



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    @RenderSection("scripts", required: false)
</body>
</html>

